<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">
</head>
<body>
<div th:replace="fragments :: header"></div>

<div class="m-5">
<h1 style="text-align: center" class="mt-4">Najpopularniejsze przepisy</h1>

<ul class="list-group list-group-flush">
    <li class="list-group-item" th:each="recipe: ${recipes}">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <a th:href="@{'/recipe/' + ${recipe.id}}">
                        <img th:src="${recipe.image}" class="card-img" alt="...">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a th:href="@{'/recipe/' + ${recipe.id}}">
                            <h5 class="card-title" th:text="|${recipe.title}|">Card title</h5>
                        </a>
                        <p class="card-text" th:text="|${recipe.description}|">Opis</p>
                        <p class="card-text"><small class="text-muted" th:text="|${recipe.likeCounter} użytkowników lubi to!|">like</small></p>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>

</div>
</body>
</html>