<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">
</head>
<body>
<div th:replace="fragments :: header"></div>

<div class="m-5">
<h1 style="text-align: center" class="mt-4" th:text="${recipe.title}">Tytuł przepisu</h1><br/>

    <div style="text-align: right">
    <form  th:action="@{'/recipe/' + ${recipe.id} + '?likeIt='}" method="get">
        <button class="btn btn-dark" type="submit" name="likeIt" value="Lubie">Lubie to</button>
    </form>

    <a th:href="@{'/edit/' + ${recipe.id}}" th:text="|Edytuj przepis|"></a><br/>
    <a th:href="@{'/remove/' + ${recipe.id}}" th:text="|Usuń przepis|"></a><br/>
    </div>

<img th:src="${recipe.image}" class="card mb-3" style="max-width: 540px;">

<h6 th:text="|Kategoria: ${recipe.category}|">Kategoria</h6><br/>
<h6 th:text="|Czas przygotowania: ${recipe.preparationTimeInMinutes} min|">Czas przygotowania</h6><br/>
<h6 th:text="|Poziom trdności: ${recipe.difficulty}|">Trudność</h6><br/>

    <div class="form-group">
        <h6>Składniki:</h6>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" th:each="ingredient : ${recipe.ingredients}">
            <div th:text="|${ingredient.name}: ${ingredient.amount} ${ingredient.unit.name}|"></div>
        </li>
    </ul><br/>

    <div class="form-group">
        <h6>Przygotowanie:</h6>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div th:text="${recipe.description}"></div>
        </li>
    </ul><br/>
</div>

</body>
</html>