<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">
</head>
<body>
<div th:replace="fragments :: header"></div>

<div class="m-5">
    <h1 style="text-align: center" class="mt-4">Wszystkie przepisy</h1><br/>

    <form action="/recipes" method="get" th:object="${filters}">
        <div class="form-row">
            <div class="form-group col-md-3">
                <input class="form-control" type="text" placeholder="Tytuł przepisu" th:field="*{title}">
            </div>
            <div class="form-group col-md-3">
                <input class="form-control" type="text" placeholder="Kategoria" th:field="*{category}">
            </div>
            <div class="form-group col-md-3">
                <input class="form-control" type="text" placeholder="Dieta" th:field="*{diet}">
            </div>
            <div class="form-group col-md-3">
                <input class="form-control" type="text" placeholder="Trudność" th:field="*{difficulty}">
            </div>

            <div class="form-group col-md-6">
                <button type="submit" class="btn btn-dark" th:text="|Filtruj|"></button>
                <button type="reset" class="btn btn-dark" th:text="|Wyczyść|"></button>
            </div>
        </div>
    </form>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th>
                <a th:href="@{'/recipes?sort=title'}">
                    Tytuł przepisu
                </a>
            </th>
            <th>
                <a th:href="@{'/recipes?sort=category'}">
                    Kategoria
                </a>
            </th>
            <th>
                <a th:href="@{'/recipes?sort=diet'}">
                    Dieta
                </a>
            </th>
            <th>
                <a th:href="@{'/recipes?sort=preparationTimeInMinutes'}">
                    Czas przygotowania
                </a>
            </th>
            <th>
                <a th:href="@{'/recipes?sort=difficulty'}">
                    Trudność
                </a>
            </th>
            <th>
                <a th:href="@{'/recipes?sort=likeCounter'}">
                    Popularność
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="recipe: ${recipes}">
            <td>
                <a th:href="@{'/recipe/' + ${recipe.id}}" th:text="|${recipe.title}|"></a>
            </td>
            <td th:text="|${recipe.category}|"></td>
            <td th:text="|${recipe.diet}|"></td>
            <td th:text="|${recipe.preparationTimeInMinutes}|"></td>
            <td th:text="|${recipe.difficulty}|"></td>
            <td th:text="${recipe.likeCounter}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>