<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cookbook</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>


<div class="content">
    <h1 style="text-align: center" class="mt-4">Wszystkie przepisy</h1>

    <form action="/recipes" method="get" th:object="${filters}">
        <input type="text" placeholder="Tytuł przepisu" th:field="*{title}">
        <input type="text" placeholder="Kategoria" th:field="*{category}">
        <input type="text" placeholder="Dieta" th:field="*{diet}">
        <input type="text" placeholder="Trudność" th:field="*{difficulty}">

        <input type="submit" value="Filtruj" class="btn btn-primary"/>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/recipes?sort=title'}">
                    Tytuł przepisu
                </a>
            </th>
            <th>
                <a th:href="@{'/recipes?sort=category'}">
                    Kategoria
                </a>
            </th>
            <th>
                <a th:href="@{'/recipes?sort=diet'}">
                    Dieta
                </a>
            </th>
            <th>
                <a th:href="@{'/recipes?sort=preparationTimeInMinutes'}">
                    Czas przygotowania
                </a>
            </th>
            <th>
                <a th:href="@{'/recipes?sort=difficulty'}">
                    Trudność
                </a>
            </th>
            <th>
                <a th:href="@{'/recipes?sort=likeCounter'}">
                    Popularność
                </a>
            </th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="recipe: ${recipes}">
            <td th:text="|${recipe.title}|"></td>
            <td th:text="|${recipe.category}|"></td>
            <td th:text="|${recipe.diet}|"></td>
            <td th:text="|${recipe.preparationTimeInMinutes}|"></td>
            <td th:text="|${recipe.difficulty}|"></td>
            <td th:text="${recipe.likeCounter}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>